#**************************************************************
#author: yun.lei@hxt-semitech.com
#initial creation: 2018.3.10
#description: nginx benchmark script 
#usage: need root user to run the script
#./nginx.sh
#***************************************************************

#Here is a script(nginx.sh) to test nginx:

#!/bin/sh
ulimit -n 65536
for cyc in 50 100 300 500 700 1000 1500 2000 2500
do
 echo "wrk is working concurrent is $cyc"
 result=`/root/wrk-4.1.0/wrk -c $cyc -t 32 -d 30 http://192.168.122.140/index.html |grep -E "Latency|Requests|Socket"`
echo $result >> middle.txt
done
echo "next" >> middle.txt
cat middle.txt |grep -v "Socket"|awk '{print $2"\t"$7}' >> worker-$(date +%Y-%m-%d)-HSRP1.1.txt
cat middle.txt |grep Socket|awk '{print $2"\t"$17"\t"$11"\t"$13"\t"$15}'|sed 's/,//g' >> worker-$(date +%Y-%m-%d)-HSRP1.1.txt
echo "next testing data" >> worker-$(date +%Y-%m-%d)-HSRP1.1.txt
echo "Latency Request/Sec read write timeout" >> worker-$(date +%Y-%m-%d)-HSRP1.1.txt
mv middle.txt middle-$(date "+%Y-%m-%d-%H:%M:%S")-HSRP1.1.txt
